@{
    ViewBag.Title = "LoginAD";
}

<h2>Login de Internos</h2>

<p>As suas credenciais '@ViewBag.username' não se encontram autorizadas. Contacte um administrador do sistema</p>

@Html.ActionLink("Voltar à página de login", "LogIn");